@page "/car-tool"

@inject CarsDataService carsData

<ToolHeader HeaderText=@headerText />

<main>
  <CarTable Cars="cars" />
</main>

<ToolFooter CompanyName=@companyName />

@code {

  private string headerText = "Car Tool";
  private string companyName = "A Cool Company, Inc.";

  private IEnumerable<Car> cars;

  protected override void OnInitialized()
  {
    cars = carsData.All();
  }

}
