@page "/color-tool"

@inject ColorsDataService colorsData

  <header>
    <h1>@headerText</h1>
  </header>

  <main>
    <ul>
      @foreach(var color in colors)
      {
        <li>
          @color.Id - @color.Name - @color.Hexcode  
        </li>
      }
    </ul>

    <form>
      <div>
        <label for="name-input">Name</label>
        <input type="text" id="name-input" @bind="colorForm.Name" />
      </div>

      <div>
        <label for="hexcode-input">Hexcode</label>
        <input type="text" id="hexcode-input" @bind="colorForm.Hexcode" />
      </div>

      <button type="button" @onclick="addColor">Add Color</button>
    </form>

  </main>

  <footer>
    <small>&copy; 2020 A Cool Company, Inc.</small>
  </footer>

@code {

  string headerText = "Color Tool";

  private IEnumerable<Color> colors;

  private ColorForm colorForm = new ColorForm();

  protected override void OnInitialized()
  {
    colors = colorsData.All();
  }

  private void addColor()
  {
    var color = new Color()
    {
      Name = colorForm.Name,
      Hexcode = colorForm.Hexcode,
    };

    colors = colorsData.Append(color).All();
  }
}
