@page "/color-tool"

@inject ColorsDataService colorsData

  <header>
    <h1>@headerText</h1>
  </header>

  <main>
    <ul>
      @foreach(var color in colors)
      {
        <li>
          @color.Id - @color.Name - @color.Hexcode  
        </li>
      }
    </ul>
  </main>

  <footer>
    <small>&copy; 2020 A Cool Company, Inc.</small>
  </footer>

@code {

  string headerText = "Color Tool";

  IEnumerable<Color> colors;

  protected override void OnInitialized()
  {
    colors = colorsData.All();
  }
}
