@page "/color-tool"

@inject ColorsDataService colorsData

  <ToolHeader HeaderText=@headerText />

  <main>
    <div>
      Data from Color Form: @dataFromColorForm.Name
    </div>
    <ColorList Colors=@colors />
    <ColorList Colors=@colors />
    <ColorForm ButtonText="Add Color"
               OnSubmittedColor="addColor" />
    <ColorForm ButtonText="Add Color"
               OnSubmittedColor="addColor" />
  </main>

  <footer>
    <small>&copy; 2020 A Cool Company, Inc.</small>
  </footer>

@code {

  private string headerText = "Color Tool";
  private IEnumerable<Color> colors;

  private Color dataFromColorForm = new Color();

  protected override void OnInitialized()
  {
    colors = colorsData.All();
  }

  private void addColor(Color color)
  {
    dataFromColorForm = color;
    // colors = colorsData.Append(color).All();
  }
}
